name: test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go:
          - "1.25"
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Build & Test
        run: |
          go test -race ./...

      - name: Build image
        run: |
          make image-load
        env:
          IMAGE_VERSION: test-${{ github.sha }}-${{ matrix.go }}
