name: test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go:
          - "1.25"
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4

      - name: Build & Test
        run: |
          go test -race ./...

      - name: Build image
        run: |
          make image-load
        env:
          IMAGE_VERSION: test-${{ github.sha }}-${{ matrix.go }}
